body {
    font-family: Arial, Helvetica, sans-serif;

}



#header
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(128,128,128);
}

#header
li {
    float: left;
}

#header
p{
    float: left;
}



#header
li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.heading {
    padding: 10px 0;
    text-align: center;
}

.heading h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-image {

    /* margin: 8%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:50%;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.button {
    background-color: darkred;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}


.container {
    margin: 0 5%;
    position:relative;

}


.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


.grid-item {
    display: inline-block;
    width: 100%;
}

.grid-item-2 {
    display: inline-block;
    width: 100%;
}


.item {
    width: 24%;
    float: left;
    margin: 0 0.5% 0;
}

.item-2 {
    width: 40%;
    float: left;
    margin: 0 0.5% 0;
}

.item-title {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px 0;
}

.item-text {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 0 60px;
}

.item-image {
    position: relative;
}
.item-image-2 {
    position: relative;

}
.item-image img {
    max-width: 100%;
}
.item-image-2 img {
    max-width: 100%;
    float: right;
}



.footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 45px 0;
    margin-top: 35px;
}


.footer-text {
    padding: 5px 0;
}

.footer-text h3 {
    font-size: 36px;
    color: white;
    margin-bottom: 15px;
}

.footer-text p {
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.footer-titles {
    padding: 15px 0;
}

.footer-titles ul li {
    display: inline-block;
    margin: 0 15px;
}

.footer-titles ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.inc-rights {
    color: white;
    margin: 20px 0 0;
    font-size: 15px;
}


/* SUBSCRIBE BUTTON  ----------------------------
-------------------------------------------- */
.subscription {
    padding: 5px 0
}

.subscription .email {
    text-align: center;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid darkred;
    color: red;
    font-size: 15px;
    background: transparent;
}

.subscription .submit {
    display: inline-block;
    padding: 14px 15px;
    border: none;
    border-radius: 8px;
    background-color: darkred;
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin-left: 4px;
}

.submit:hover {
    background-color: darkred;
}

.contact-container {
    font-size: large;
    align-items: center;

}
.contact-submit{
   font-size: large;
}
.contact-container > form{
    padding: 45px;
    margin: 45px;
    font-size: larger;
}